<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> Welcome to Bloccitoff</h1>
    <small>
      Details
    </small>

      <%= link_to "View Profile on site", user_path(@user) %>
  </body>
</html>
