<div class="learn">
  <section>
    <h1>We Want To Help You Be More <span style="color: #00ffcb;">Productive</span></h1>
    <p>  Times<span style="color: #00ffcb;">Up</span> is a to do list application designed to help you keep track of daily or weekly tasks.
         Tasks that are not completed within a week will be automatically removed. Sign Up for a free
         account today!</p>
  </section>
</div>
