<p id="item-<%= item.id %>">
  <%= item.name %> have <%= distance_of_time_in_words(item.created_at, 7.days.from_now, include_seconds: false) %> left
  <%= link_to "", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
</p>
