// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item {
  background-color: rgba(1,1,1,.1);
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2em;
  box-shadow: 0 0 2px rgba(1,1,1,.5);
  a {
    font-size: 2em;
    float: right;
  }
}
