// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .task {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  border-radius: 5px;
  display: block;
  font-weight: 600;
}

/*.js-item, p {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
} */

 .list {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
}
